@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
/* Apply DM Mono Font to all */
* {
    font-family: 'DM Mono', monospace;
}

/* Color of nav bar */
.navbar-custom {
    background-color: grey;
}
/* Font Color of Links */
.navbar-custom .nav-link {
    color: rgb(7, 7, 7);
}
/* Link Hover Color */
.navbar-custom .nav-link:hover {
    color: #ffffff;
}

/* Link Active Color */
.navbar-custom .nav-link.active {
    color: #EFF7F6;
}

.panel-group {
    width: 900px;
}

.panel {
    width: 700px;
}

.navbar-brand {
    margin: 0px;
    padding: 0px;
}

.logo {
    height: 50px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.tate {
    height: 200px;
    width: 200px;
}

.jacob {
    height: 200px;
    width: 200px;
}

.sun {
    height: 200px;
    width: 200px;
}

.sirinam {
    height: 200px;
    width: 200px;
}

.apt {
    height: 400px;
    width: 300px;
}

/* Easter Egg Animations */

.person{
    animation: walk 5s infinite, rotate 500ms infinite;
}

@keyframes walk {
    from {left: 0vw;}
    to {left: 75vw;}
}

@keyframes rotate {
    from { transform: rotate(-20deg);}
    to {transform: rotate(20deg);}
}

#person1{
    animation-direction: alternate;
    /*animation-duration: 5s;*/
}

#person2{
    animation-direction: alternate-reverse;
    /*animation-duration: 7s;*/
}

#person3{
    animation-direction: alternate;
    /*animation-duration: 6s;*/
}

#person4{
    animation-direction: alternate-reverse;
    /*animation-duration: 4s;*/
}

#person5{
    animation-direction: alternate;
}